pipeline/Auditingpipeline.json
{
	"name": "Auditingpipeline",
	"properties": {
		"activities": [
			{
				"name": "Mock_data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Mock_data",
						"type": "DatasetReference",
						"parameters": {
							"DbTable": {
								"value": "@pipeline().parameters.EmailTo",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "MockData_Sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Mock_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateLogTable]",
					"storedProcedureParameters": {
						"CopyActivity_End_Time": {
							"value": {
								"value": "@{activity('Mock_data').output.executionDetails[0].start}\n",
								"type": "Expression"
							},
							"type": "String"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@{utcNow()}",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataFactory_Name": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataRead": {
							"value": {
								"value": "@{activity('Mock_data').output.rowsRead}",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Destination": {
							"value": {
								"value": "'pipeline_Success'",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('Mock_data').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"rowsCopied": {
							"value": {
								"value": "@{activity('Mock_data').output.rowsCopied}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunID": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "'Mock_data'",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedServer",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Mock_data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateErrorTable]",
					"storedProcedureParameters": {
						"DataFactory_Name": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Destination": {
							"value": {
								"value": "'pipeline_Failure'",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@{activity('Mock_data').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@{activity('Mock_data').Error.Message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('Mock_data').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "'Mock_data'",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseLinkedServer",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Send Email On Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Failure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-28.centralus.logic.azure.com:443/workflows/45833aed95ee40fdbddb6b849cf9866d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=NMNwhpJB892iaHYNh_AbNw32ua4YnizW02FXxuJrXpY",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json "
					},
					"body": {
						"value": "{\n\"EmailTo\": \"@{pipeline().parameters.EmailTo}\",\n\"Pipeline\": \"@{pipeline().Pipeline}\",\n\"ErrorMessage\":\"@{activity('Mock_data').Error.Message}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"Runid\":\"@{pipeline().GroupId}\"\n}",
						"type": "Expression"
					},
					"datasets": [
						{
							"referenceName": "Mock_data",
							"type": "DatasetReference"
						}
					]
				}
			}
		],
		"parameters": {
			"EmailTo": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-10-10T10:03:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}